@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #e8e8e8 ;
}


.text{
  font-size: 70px;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px 0px 5px 0px;
}

.animation{
animation: typewriter 3s steps(15) 1s 1 both;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 680px;
  }
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

.container {
  justify-content: center;
  text-align: center;
  height: 700px;
  padding: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  margin: 10px;
}

.container:first-child, .container:nth-child(3) {
  height: 400px;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

form p {
  margin: 50px 0px 0px 0px;
  font-size: 21px;
}

input[type="radio"] {
  cursor: pointer;
  accent-color: rgb(74, 119, 77);
  font-size: 55px;
}

strong {
  font-size: 20px;
}

 input[type="number"] {
  width: 70%;
  height: 25px;
  padding: 10px 40px 10px 10px;
  border: 2px solid rgb(74, 119, 77);
  border-radius: 5px;
  margin: 5px;
  font-size: 26px;
  outline: none;
  text-align: center;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.boton-convertir {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgb(74, 119, 77);
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

hr {
  background-color: black;
  height: 1px;
  width: 100%;
}

.boton-convertir:hover {
  background-color: #fff;
  color: rgb(74, 119, 77);
  border: 2px solid rgb(74, 119, 77);
  box-shadow: 5px 5px 0px rgb(74, 119, 77);
}

.boton-convertir:active {
  box-shadow: none;
  transform: translateY(4px);
}


input[type="radio"], input[type="number"] {
  margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
li {
    margin-bottom: 10px;
}


#filtro {
  padding: 10px 40px 10px 10px;
  border: 1px solid rgb(74, 119, 77);
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  outline: none;
  width: 60%; 
}

#filtro::placeholder {
  color: black;
  text-align: center;
}

#fecha {
  font-size: 15px;
  margin-bottom: 0;
}


#tabla {
  border-collapse: separate;
  border-spacing: 10px; 
  width: 100%;
}

#tabla td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.boton-historial {
  display: inline-block;
  padding: 7.5px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgb(74, 119, 77);
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 0px #000;
  cursor: pointer;
}



